<body>
  <div class="main">
    <form>
       <div class="form-group">
         <label for="exampleFormControlInput1">Name</label>
          <input type="text" class="form-control" style="width: 500px; height: 40px">
       </div>
       <br>
       <div class="form-group">
         <label for="exampleFormControlInput1">Email</label>
         <input type="email" class="form-control" style="width: 500px; height: 40px">
       </div>
      <br>
       <div class="form-group">
          <label for="exampleFormControlTextarea1">Comments</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" style="width: 95%;"></textarea>
        </div> <br>
       <button class="btn btn-primary" type="submit">Send</button>
      </form>
      
      
  </div>
  
</body>